@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  
  --cor-fundo-cabecalho: #191F53;
  --cor-texto-cabecalho: #ffffff;
  --background-servicos: #D0EEFF;
  --background-planos: #220058;
  --background-footer: #000;
  --background-page:#fbffff;
  --fonte-texto:  "Inter", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  @apply font-[var(--fonte-texto)] h-screen bg-[var(--background-page)]
}

/* Rodape */

.rodape{@apply flex items-center justify-center bg-[var(--background-footer)] min-h-[120px]}

.rodape a{@apply block ml-[2em]}

.rodape h4{@apply text-[var(--cor-texto-cabecalho)]}

/*cabecalho*/

.cabecalho {
  @apply bg-[var(--cor-fundo-cabecalho)] h-[80px] flex items-center; 
}

.cabecalho_icones {
  @apply flex w-full justify-between items-center; 
}

.links_inicial {
  @apply flex items-center space-x-4; 
}

.link-imagem {
  @apply inline-flex;
}

.imagem-simbolo {
  @apply max-w-[80px] h-auto; 
}

.rotas {
  @apply text-[#fbffff] no-underline p-[1em] hover:bg-[#191F85] hover:text-[#D0EEFF] hover:rounded-[12px];
}

.links {
  @apply flex items-center; 
}

.link_cabecalho {
  @apply no-underline text-[var(--cor-texto-cabecalho)] uppercase mr-[2em];
}


/* Sessao1 */

.container_vazio{
  @apply h-full flex items-center justify-center p-14
}

.container_lado{
  @apply w-[6em] h-[20.55em] bg-[var(--cor-fundo-cabecalho)] rounded-l-[5px]
}

.container{
  @apply bg-gradient-to-r from-[#0B275E] to-[#D2DEF4] min-w-[35%] max-w-[50%] h-[329px] flex items-center pl-[2em] rounded-r-[5px]
}

.intellidrive{
  @apply max-w-[40%]
}

.imagem{
  @apply min-w-full
}

.textos{
  @apply ml-2 text-center mb-3
}

.textos_titulo {
  @apply text-[30px] font-normal text-start
}

/* .pplanos{
  @apply
} */


/* Sessao2 */

.titulo{
  @apply text-center
}

.primeiro_sub{
  @apply mt-[7em]
}

.sessao2_subtitulo {
  @apply text-[44px] font-normal text-center
}

.sessao2_container{
  @apply p-[5em] bg-[var(--background-servicos)] mt-[5em]
}

.sessao2_servicos{
  @apply flex justify-around items-baseline
}

.sessao2_servicos1 .sessao2_servicos2 .sessao2_servicos3{
  @apply w-1/4 flex flex-col text-center
}

.servicos_titulo{
  @apply mb-[0.5em] font-semibold text-[25px]
}

/* .pplanos_servico{

} */

.paragrafo_servico{
  @apply font-normal text-[20px]
}

/* Sessao3 */

.sessao3_planos{
  @apply bg-[var(--background-planos)] grid grid-cols-3 p-[4em] mt-[3em]
}

.comtexto{
  @apply flex flex-col justify-center items-center h-full
}

.mensal, .basico, .premium{
  @apply w-[90%] h-[70%] rounded-[19px] p-[3em]
}

.mensal{
  @apply bg-gradient-to-b from-[#ffffff] via-[#d2d2d2] to-[#828282]
}

.titulo_plano{
  @apply mb-[1em]
}

/* .descricao_plano{} */

.textos_planos{
  @apply h-[20%] ml-[1em]
}

.pplanos{
  @apply text-[var(--cor-texto-cabecalho)] text-[12px] mt-[1em] w-[80%]
}

.preco{
  @apply text-[var(--cor-texto-cabecalho)] text-[12px] mt-[1em] w-[80%]
}

.basico{
  @apply bg-gradient-to-b from-[#ffffff] via-[#aab1f7] to-[#0017e7]
}

.premium{
  @apply bg-gradient-to-b from-[#fffdfb] via-[#ffd6b0] to-[#ff7a00]
}

.preco3{
  @apply w-[90%]
}

.titulo_conforto{
  @apply text-center
}

/* Sessao4 */

.div_conforto{@apply bg-[#20486C] mt-[5em] flex justify-around}

.imagens{@apply flex}

.celular{@apply mr-[1em] p-2}

.pc{@apply mb-3}

.texto_conforto{@apply flex justify-center items-center text-center w-[40%]}

.pplanos_conforto{@apply text-[var(--cor-texto-cabecalho)] text-[20px]}

.paragrafo_conforto{@apply text-[var(--cor-texto-cabecalho)] font-medium text-[40px] w-[70%]}

/* Conta */

.dados_user{@apply flex flex-col gap-[0.2em] p-[0.5em]}

.visualizar{@apply flex flex-col gap-[0.5em]}

.links, .apagar{@apply flex justify-between}

.cadastro, .login{@apply no-underline p-[0.5em]}

/* Cadastro */

.div_principal {
  @apply mb-[5em];
}

.principal_textos {
  @apply flex flex-col justify-center items-center m-[2em];
}

.principal_textos h1 {
  @apply mb-[1em] w-[50%] text-center;
}

.principal_textos p {
  @apply font-medium text-[20px] w-[50%] text-center;
}

.principal_inputs {
  @apply flex items-center justify-center flex-col;
}

label {
  @apply w-[50%] mb-[0.3em];
}

.inputs {
  @apply w-[50%] p-[1em] rounded-[10px] mb-[1.6em];
}

.submit_botao {
  @apply w-[50%] uppercase bg-[var(--cor-fundo-cabecalho)] text-[var(--cor-texto-cabecalho)] text-[var(--fonte-texto)] text-[16px] p-[0.8em] mb-[1em] rounded-[10px] h-[3em];
}

.link_cadastro {
  @apply bg-[var(--cor-fundo-cabecalho)] text-[var(--cor-texto-cabecalho)] no-underline w-[50%] p-[0.8em] rounded-[10px] text-center uppercase h-[3em];
}

.link_senha {
  @apply w-[50%];
}

.div_links {
  @apply mt-[0.5em] w-[50%] flex justify-between;
}

.principal_inputs .login {
  @apply bg-[var(--cor-fundo-cabecalho)] text-[var(--cor-texto-cabecalho)] no-underline w-[50%] p-[0.8em] rounded-[10px] text-center uppercase h-[3em];
}

.voltar {
  @apply w-[50%] mt-[0.5em];
}

.link_volta {
  @apply flex w-[50%] items-center justify-center;
}

.voltar {
  @apply ml-[1.9em];
}

.link_cadastro {
  @apply bg-[var(--background-cabecalho)] text-[var(--cor-texto-cabecalho)] no-underline w-[50%] p-[0.8em] rounded-[10px] text-center uppercase h-[3em];
}